html,
body {
  width: 300px;
}

.hidden {
  display: none;
}

button {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  padding: 6px 16px;
  height: 30px;
  border-radius: 7px;
  box-sizing: border-box;
  background-color: #f8a917;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  border: none;
}

button:hover {
  background-color: #c9a35e;
}
